AGENCY_TENANT_ID=agency-2026-local
AGENCY_ROOT=/Users/slbergeron/agency-2026-claw
NEOTOMA_PORT=3187
DASHBOARD_PORT=8765
NEOTOMA_PACKAGE_VERSION=0.4.3
VENDOR_CONCENTRATION_THRESHOLD=0.60
AMENDMENT_CREEP_THRESHOLD=3.0
RELATED_PARTY_MIN_ORGS=2
